

.closed {
    position: absolute;
    top: 2%;
    left: 20%;
    height: 96vh;
    width: 60%;
    filter: drop-shadow(5px 5px 5px rgb(90, 90, 90));
}


@media (max-width: 1399.98px) {

}

@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 767.98px) { 
.closed{
    max-height: 500px;
}
}

@media (max-width: 575.98px) {
    body{
        position: relative;
    }
    .closed {
        position: fixed;
        top: 2%;
        left: 10%;
        height: 38vh;
        width: 80%;
        filter: drop-shadow(5px 5px 5px rgb(90, 90, 90));
    } 
}