*{
    margin: 0;
    padding: 0;
    font-size: 50px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    --first-color: #04859D;
    --first2-color: #5FBDCE;
    --second-color: #BF9330;
    --second-color: #d69200;
    --second2-color: #A67200;
    --third-color: #FF1800;
}

body, input{
    background: #dddddd;
}
