@media (min-width: 576px) {

    *{font-size:30px;}
}
@media (min-width: 768px) {

    *{font-size: 30px;}
}
@media (min-width: 992px) {

    *{font-size: 35px;}
}

@media (min-width: 1200px) {

    *{font-size: 40px;}
}
@media (min-width: 1800px) {

    *{font-size: 50px;}
}