

*{font-size:50px;}

h2 {
    font-size: .8em;
}
h1 {
    font-size: 1em;
}
@media (max-width: 1399.98px) {
    *{font-size:35px;}
 }

 @media (max-width: 1199.98px) {
     *{font-size:32px;}
}

@media (max-width: 991.98px) {
    *{font-size:26px;}
}

@media (max-width: 767.98px) { 
    *{font-size:30px;}

}

@media (max-width: 575.98px) {
    *{font-size:40px;}
}