header {
    grid-area: header;
}

.cid {
    grid-area: cid;
}

.prpay {
    grid-area: prpay;
}

.change {
    grid-area: change;
}

footer {
    grid-area: footer;
}


.container {
    display: grid;
    height: 90vh;
    min-height: 734px;
}



.container {
    grid-template:
        "header header  header" 8%
        "cid prpay change" 92%
        /1fr 25% 1fr;
}

@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) { 
    .container {
        grid-template:
            "header header  header" 10vh 
            "cid prpay change" 80vh 
            "footer footer footer" 10vh 
            /1fr 25% 1fr;
    }
 }
@media (max-width: 991.98px) { 
    .container {
        grid-template:
            "header header  header" 10vh 
            "cid prpay change" 80vh 
            "footer footer footer" 10vh 
            /1fr 25% 1fr;
    }

 }
@media (max-width: 767.98px) { 
    .container {
        grid-template:
            "header header" 50px 
            "cid prpay" 500px
            "footer footer" 50px 
            "change change" 500px
            /1fr 25%;
    }
 }
@media (max-width: 575.98px) { 
    .container {
        grid-template:
            "header" 5% 
            "cid" 85% 
            "prpay" 30% 
            "footer" 7% 
            "change" 85% 
    }
 }






