header {
    grid-area: header;
}

.cid {
    grid-area: cid;
}

.prpay {
    grid-area: prpay;
}

.change {
    grid-area: change;
}

footer {
    grid-area: footer;
}


.container {
    display: grid;
    height: 90vh;
    min-height: 734px;
    background: var(--second2-color);

}



.container {
    grid-template:
        "header header  header" 10%
        "cid prpay change" 90%
        /1fr 25% 1fr;
}

@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) { 

 }
@media (max-width: 991.98px) { 


 }
@media (max-width: 767.98px) { 
    .container {
        grid-template:
            "header header" 50px 
            "cid prpay" 500px
            "change change" 500px
            /1fr 25%;
    }
    .container {
        height: calc(1050px + 10vh);
    }
    
 }
@media (max-width: 575.98px) { 
    .container {
        grid-template:
            "header" 65px
            "cid"  500px
            "prpay"  450px
            "change"  500px
    }
    .container {
        height: calc(1515px + 10vh);
    }
 }






