/* GRID */
.container {
    display: grid;
    grid-template:
        "header header  header" 10vh 
        "cid prpay change" 75vh 
        "footer footer footer" 15vh 
        /1fr 25% 1fr;

}

header {
    grid-area: header;

}

.cid {
    grid-area: cid;
}

.prpay {
    grid-area: prpay;
}

.change {
    grid-area: change;
}

footer {
    grid-area: footer;
}


/* header, .cid, .prpay, .change, footer {
    border: 1px solid;
} */

/* FONTS */


h2 {
    font-size: .8em;
}



/* HEADER */
header {
    background: var(--first-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h1 {
    font-size: 1em;
}

/* CID AND CHANGE */


.cid, .change {
    background: var(--second2-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cid td:nth-child(odd), .change td:nth-child(odd) {
    background: var(--first2-color);
}

.cid input, .change td:nth-child(2) {
    font-size: .6rem;
    padding-left: 5px;
    text-align: left;
    background: white;
}

.cid td:nth-child(even) {
    background: white;
    width: 50%;
}

.cid h2, .change h2 {
    padding: 15px;
}

table {
    border-collapse: collapse;
    height: 85%;
    width: 90%;
}

th{
    background: var(--first-color);
}

th, td {
    padding: 3px;
    border: 1px solid black;
    font-size: 0.6em;
    text-align: center;
}

td input {
    background: var(--first2-color);
    width: 100%;
    height: 100%;
}

table input {
    border: none;
}


/* PRICE PAY */

.prpay {
    background: var(--second2-color);
    display: flex;
    flex-direction: column;
}

.prpay div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 15px;
}

.prpay input {
    margin-top: 50px;
    width: 20%;
    height: 7vh;
    font-size: 0.6rem;
    padding-left: 5px;
    border: none;
}

/* CHANGE */
.change td:nth-child(even) {
    font-size: 0.65rem;
    width: 50%;

}



/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--second-color);
}

footer button:nth-child(1) {
    text-transform: uppercase;
    width: 17%;
    height: 8vh;
    font-size: 0.9em;
    border-radius: 15px;
    border: none;
}

footer button:nth-child(2) {
    position: fixed;
    right: 5%;
    bottom: 5%;
    border-radius: 50%;
    padding: 17px;
    font-size: .7em;
    background-color: var(--third-color);
    border: none;
}


/* CLOSED  */

.closed {
    top: 2%;
    left: 20%;
    height: 96vh;
    width: 60%;
    filter: drop-shadow(5px 5px 5px rgb(90, 90, 90));
}